div.col-xs-12.col-md-12
    label.label.label-danger(ng-show='hasError') Player Not Found
    .input-group.input-group-lg(ng-class='getSearchClass()')
        input#searchField.form-control(type='text', placeholder='Find Players', ng-model='gamertagInput', name='searchField', onkeydown="if (event.keyCode == 13) document.getElementById('searchButton').click()")
        span.input-group-btn
            button#searchButton.btn.btn-default(ng-click='searchPlayer(gamertagInput)')
                i.fa.fa-search
div.col-xs-12.col-md-12
    div.row
        h3.col-xs-4.col-md-4 {{gamertag}}
        h3.text-primary.col-xs-2.col-md-2 Rank {{rank}}
        h3.text-info.col-xs-3.col-md-3 XP: {{XP}}
        h6.text-warning.col-xs-3.col-md-3 Total Playtime: {{totalPlaytime}}
    div.row
        img.thumbnail.col-xs-3.col-md-3(src='{{spartanImage}}')
        .col-xs-9.col-md-9
            .table-responsive
                table.table.table-striped.table-bordered
                    thead
                        tr
                            th
                                h5.text-info Playlist Name
                            th
                                h5.text-info Playlist Ranking
                            th
                                h5.text-info Total Time Played
                    tbody
                        tr(ng-repeat="stat in playlistStats")
                            td
                                h6 {{stat.playlist}}
                            td
                                h6 {{stat.rank}}
                            td
                                h6 {{stat.timePlayed}}
    div.row
        #wl.col-xs-4.col-md-4
            h3 Win/Loss Ratio
                small#wlPercent  {{wl}}
            #winlossBox
                canvas#winloss(height='200', width='200')
        .col-xs-4.col-md-4
            h3 K/D/A
                small#kdPercent  {{kd}}
            #kdaBox
                canvas#kda(height='200', width='200')
        .col-xs-4.col-md-4
            h3 Kills
                small#kdPercent  {{totalKills}}
            #killsBox
                canvas#kills(height='200', width='200')
    div.row
        .col-xs-6.col-md-6
            h2.text-info.text-center Most Used Weapon
            h2.text-primary.text-center {{favoriteWeapon}}
        .col-xs-6.col-md-6
            h2.text-info.text-center Total Assasinations
            h2.text-primary.text-center {{assasinations}}
footer.footer.col-xs-12.col-md-12
    .container
        h4.text-center
            small &copy; Taylor Boyd; Using the
                a(href='https://www.halowaypoint.com/en-us/developers')  Halo 5 Api
                |  All Rights Reserved