doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Halo 5 Service Record
        meta(name="description", content="Halo 5: Gaurdians Service Record hub. View your Halo 5: Gaurdians stats online.")
        meta(name="keywords", content="Halo5 Halo Service Record Taylor Boyd")
        meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')
        meta(name="apple-mobile-web-app-capable", content="yes")
        link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
        link(rel='stylesheet', href='css/bootstrap.css')
        link(rel='stylesheet', href='css/main.css')
        link(rel='stylesheet', href='css/animate.css')
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-cookies.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-animate.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
        script(type='text/javascript', src='js/Chart.js')
        script(type='text/javascript', src='js/chroma.js')
        script(type='text/javascript', src='js/hueChanger.js')
        script(type='text/javascript', src='app.js')
        script(type='text/javascript', src='mainCtrl.js')
        script(type='text/javascript', src='views/homeCtrl.js')
        script(type='text/javascript', src='views/serviceRecordCtrl.js')
    body.container(ng-app='app')
    block main-content